.compendium-exporter-app .drop-zone {
  width: 80%;
  height: 60%;
  border: 2px dashed #888;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #eee;
}
