.compendium-exporter-app {
  --gap-size: 10px;

  .inner-wrapper {
    overflow-y: auto;

    & > div {
      flex: 1;
    }
  }

  .drop-zone {
    height: 60%;
    border: 2px dashed #888;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .warn-babele {
    color: #8b8000;
    background-color: #ffffcc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #8b8000;
  }

  .sheet-tabs {
    margin-bottom: 5px;
    border: 1px solid gray;
    padding: 5px 0;
  }

  .form-fields {
    flex: 1;
  }

  fieldset {
    margin-bottom: 10px;
  }

  .mapping-fields {
    gap: var(--gap-size);

    .remove-mapping {
      flex: 0;
    }
  }

  .mapping-actions {
    display: flex;
    gap: var(--gap-size);

    button {
      flex: 1;

      &.small {
        flex: 0;
      }
    }
  }

  .footer {
    margin-top: 10px;
    gap: var(--gap-size);
  }

  .d-none {
    display: none;
    width: 0;
    height: 0;
  }
}
