<div>
  <h1>Compendium exporter</h1>

  <p>Selected compendium: <strong>{{pack.metadata.label}}</strong></p>

  <form class="flexcol">
    <div class="form-group">
      <label for="sortEntries">Sort entries alphabetically</label>
      <input type="checkbox" value="1" id="sortEntries" name="sortEntries" />
    </div>
    <footer class="sheet-footer flexrow">
      <button type="submit" name="submit">
        <i class="fa fa-check"></i> Generate translation file
      </button>
    </footer>
  </form>
</div>
